ACC/frontend/dist
ACC/frontend/node_modules
ACC/*/node_modules
ACC/frontend/deploy
ACC/frontend/bower_components

classes/
/.data/
.data/
.data/*/
/*/classes/
*/classes/
*.class 
*.jdb
*.lck
*.jar
*.iar
*.jdb
*.lck
